# Libs and stuff
/bukkit
/lib
/jar
/old

# Eclipse Core
/bin

# JDT-specific (Eclipse Java Development Tools)
.classpath
.project
.settings
.metadata

# Maven build
/target/
dependency-reduced-pom.xml
